body {
  background: #e5ded8;
  box-sizing: border-box;
}


h2 {
  color: #111;
  font: 900 1.75em 'Roboto', 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h2::after {
  content: "";
  display: block;
  width: 2em;
  height: 0.25em;
  background: #111;
  margin-top: 0.5em;   
}

div.comments {transition: all 0.1s linear;	
  position: relative;
  width: 100%;
  background: #fff;
  margin: auto;
  padding: 27px;
  box-sizing: border-box;
  top: 5em;
}  

div.comments::after {transition: all 0.1s linear;	
  content: " ";
  display: table;
  clear: both;
}

.comments__form-info,
.comments__form-text {
  width: 100%;
  margin: 0;transition: all 0.1s linear;	
}

.comments__form-info { float: left; transition: all 0.1s linear;	}
.comments__form-text { float: right;transition: all 0.1s linear;	 }

.comments__form-field {
  position: relative;transition: all 0.1s linear;	
}
.comments__form-label {
  display: block;transition: all 0.1s linear;	
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font: 700 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  cursor: text;
  pointer-events: none;
}

.comments__form-label-text {
  display: block;transition: all 0.1s linear;	
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.comments__form-input:focus::-webkit-input-placeholder {
   color: transparent;transition: all 0.1s linear;	
}
.comments__form-input:focus + .comments__form-label .comments__form-label-text {
  transform: translateY(0);transition: all 0.1s linear;	
  opacity: 1;
}

.comments__form-label::after {
  content: "";
  display: block;transition: all 0.1s linear;	
  position: absolute;
  width: 100%;
  height: 3px;
  background: #111;
  bottom: 1em;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.comments__form-input:focus + .comments__form-label::after {
  transform: scaleX(1);transition: all 0.1s linear;	
}

.comments__form-input {
  position: relative;
  width: 100%;transition: all 0.1s linear;	
  padding: 1em 0;
  border: 0;
  outline: 0;
  margin: 1em 0;
  border-bottom: 3px solid #ddd;
  vertical-align: bottom;
  font: 400 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
}

.comments__form-textarea {
  min-width: 100%;transition: all 0.1s linear;	
  max-width: 100%;
  min-height: 168px;
}

.comments__form-submit {
  padding: 0.5em;
  margin: 1em 0;transition: all 0.1s linear;	
  background: none;
  border: 3px solid #111;
  font: 700 1em 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  opacity: 0.25;
}

.comments__form-submit:hover {
  opacity: 1;transition: all 0.1s linear;	
}


@media only screen and (min-width: 1020px) {

  div.comments { width: 970px; padding: 52px;transition: all 0.1s linear;	 }

  .comments__form-info,
  .comments__form-text { width: 407px;transition: all 0.1s linear;	 }

}


.blog-container {
  background: #fff;transition: all 0.1s linear;	
  border-radius: 5px;
  box-shadow: hsla(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;  
  margin: 48px auto;
  width: 20rem;
}
  @media screen and (min-width: 480px) {
   .blog-container { width: 28rem;transition: all 0.1s linear;	}
  }
  @media screen and (min-width: 767px) {
    .blog-container {width: 40rem;transition: all 0.1s linear;	}
  }
  @media screen and (min-width: 959px) {
    .blog-container {width: 50rem;transition: all 0.1s linear;	}
  }

.blog-container a {
  color: #4d4dff;transition: all 0.1s linear;	
  text-decoration: none;
  transition: 0.25s ease;
  }
  .blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
}


.blog-cover {
  background: url("");transition: all 0.1s linear;	
  background-size: cover;
  border-radius: 5px 5px 0 0;
  //height: 15rem;
  box-shadow: inset hsla(0, 0, 0, 0.2) 0 64px 64px 16px;
}
.blog-author,
.blog-author--no-cover {
  margin: 0 auto;
  padding-top: 0.125rem;transition: all 0.1s linear;	
  width: 100%;
}
.blog-author h3::before,
.blog-author--no-cover h3::before {
  background: url("");transition: all 0.1s linear;	
  background-size: cover;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 32px;
  margin-right: 0.5rem;
  position: relative;
  top: 8px;
  width: 32px;
}
.blog-author h3 {
  color: #fff;
  font-weight: 100;transition: all 0.1s linear;	
}
.blog-author--no-cover h3 {
  color: lighten(#333, 40%);transition: all 0.1s linear;	
  font-weight: 100;
}


.blog-body {
  margin: 0 auto;
  width: 100%; padding:2px;transition: all 0.1s linear;	
}
.video-body {
  height: 100%;
  width: 100%;transition: all 0.1s linear;	
}
.blog-title {
  overflow: auto;transition: all 0.1s linear;	
}
.blog-title h1 a {
  color: #333;transition: all 0.1s linear;	
  font-weight: 100;
}
.blog-summary {overflow: auto;transition: all 0.1s linear;	
}
.blog-summary p {
  color: lighten(#333, 10%);transition: all 0.1s linear;	
}
.blog-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;transition: all 0.1s linear;	
}
.blog-tags li + li {transition: all 0.1s linear;	
  margin-left: 0.5rem;
}
.blog-tags {transition: all 0.1s linear;	
  overflow: auto;
}
.blog-tags a {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  color: lighten(#333, 40%);
  font-size: 0.75rem;transition: all 0.1s linear;	
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 0.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 5rem;
}


.blog-footer {transition: all 0.1s linear;	
  border-top: 1px solid lighten(#333, 70%);
  margin: 0 auto;
  padding-bottom: 0.125rem;
  width: 80%;overflow: auto;
}
.blog-footer ul {
  list-style: none;transition: all 0.1s linear;	
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}
.blog-footer li:first-child {
  margin-right: auto;transition: all 0.1s linear;	
}
.blog-footer li + li {
  margin-left: 0.5rem;transition: all 0.1s linear;	
}
.blog-footer li {
  color: lighten(#333, 40%);transition: all 0.1s linear;	
  font-size: 0.75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  }
  .blog-footer li a {
    color: lighten(#333, 40%);transition: all 0.1s linear;	
}
li.comments {
  margin-right: 1rem;transition: all 0.1s linear;	
}
.published-date {
  border: 1px solid lighten(#333, 40%);
  border-radius: 3px;
  padding: 0 0.5rem;transition: all 0.1s linear;	
}
.numero {
  position: relative;
  top: -0.5rem;transition: all 0.1s linear;	
}


.icon-star,
.icon-bubble {
  fill: lighten(#333, 40%);
  height:24px;
  margin-right: .5rem;
  transition: .25s ease;
  width: 24px;transition: all 0.1s linear;	
}
.icon-star:hover,
.icon-bubble:hover {
    fill: #ff4d4d;transition: all 0.1s linear;	
  }
}




.wp-block-code{transition: all 0.1s linear;	background:#fff; white-space:pre-wrap;overflow-wrap:break-word;}
pre {  background:#fff; overflow: auto;transition: all 0.1s linear;	}
pre.first::-webkit-scrollbar {   transition: all 0.1s linear;	background: #b3bccc;}
pre.first::-webkit-scrollbar-thumb { transition: all 0.1s linear;	  background: #eee;   border-radius: 5px;}
pre.first {
   background: #414449;transition: all 0.1s linear;	
   color: #b3bccc;
   padding: 15px;
   font-size: 13pt;
   tab-size: 4;
   -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
   box-shadow: 0 0 8px 0 rgba(0, 0, 0, .75);
}

pre.code {background:#fff; 
    margin: 20px 25px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;transition: all 0.1s linear;	
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);padding: 15px;
   font-size: 13pt;
   tab-size: 4;
}

pre.code label {
    font-family: sans-serif;
    font-weight: normal;transition: all 0.1s linear;	
    font-size: 13px;
    color: #444;
    position: absolute;
    left: 1px;
    top: 16px;
    text-align: center;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

pre.code code {
    font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    display: block;transition: all 0.1s linear;	
    margin: 0 0 0 60px;
    padding: 15px 16px 14px;
    border-left: 1px solid #d9d9d9;
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: #444;
}

pre::after {
    content: "click to copy";
    padding: 4px;transition: all 0.1s linear;	
    width: auto;
    height: auto;
    position: absolute;
    right: 18px;
    top: 5px;
    font-size: 12px;
    color: #aaa;color:#000;
    line-height: 20px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease;
}

pre:hover::after {    opacity: 0;  transition: all 0.1s linear;	  visibility: visible;}

pre.code-css code {  transition: all 0.1s linear;	  color: #0288d1;}
pre.code-html code {   transition: all 0.1s linear;	 color: #558b2f;}
pre.code-javascript code {   transition: all 0.1s linear;	 color: #f57c00;}
pre.code-jquery code {   transition: all 0.1s linear;	 color: #78909c;}



#list_od, #tags-oi, #titl-io, #des-oi {overflow: auto;transition: all 0.1s linear;	}




#thunng div.gallery {background:#fff;color:#000;
  margin: 5px;  border: 1px solid #ccc;  float: left;  width: 180px;transition: all 0.1s linear;	
}
#thunng div.gallery:hover {background:#fff;color:#000;
  border: 1px solid #777;transition: all 0.1s linear;	
}

#thunng div.gallery img {background:#000;
  width: 100%;transition: all 0.1s linear;	  height: auto;
}
#thunng div.desc {background:#fff;color:#000;
  padding: 15px;transition: all 0.1s linear;  text-align: center;
}





