

ul {      
  list-style-type: none;
  margin: 0;  padding: 0;
  width: 100%;    
  background-color: #f1f1f1;transition: all 0.1s linear;	
}     

ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;transition: all 0.1s linear;	
}

ul li:hover a:hover {
  background-color: #555;
  color: #fff;transition: all 0.1s linear;	
}
ul li .fa{
  font-size:inherit;
  width: 100px; opacity:0.80;
  text-align: center;
  transition: all 0.1s ease;
  font-size: 36px; margin-right:8px; margin-bottom:6px;  transition: all 0.1s linear;	
} 
ul li:hover a:hover .fa {
  opacity:1;transition: all 0.1s linear;	
}
ul li { overflow: auto;  
  //border-bottom: 1px solid #000;  width: 100%;  background-color: #f1f1f1;transition: all 0.1s linear;
}
ul li:hover, ul li:last-child {
   //border-bottom: 0px solid #000;border:none;
}


ul li.vf:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/play(2).png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.vid:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/movie.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.fl:hover a:before {  transition: all 0.1s linear;
    content: "  >>  "; position:relative;  padding:2px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.doc:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/documents.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.musi:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/headphone.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.pic:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/picture.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.tx:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/text-box.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.vid:hover .bt:hover a:after {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/play(2).png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}


    #emb-fs div { width:100%; }            

   

   input.mdfs_my_val_Input{  /*background: url("");*/  background-position: 10px 12px;  background-repeat: no-repeat;  width: 264px;  font-size: 16px;  padding: 12px 20px 12px 20px;  border: 1px solid #ddd;  margin-bottom: 12px; margin-right:5px; transition: all 0.1s linear;}  input.mdfs_my_val_Input:focus{  border-radius:4px;  width: 72%;  transition: all 0.1s linear;}    




@media screen and (min-width: 480px) {   
  
  }
  @media screen and (min-width: 767px) {   

  }
  @media screen and (min-width: 959px) {  
    
  }



