

ul {  
  list-style-type: none;
  margin: 0;  padding: 0;
  width: 100%;    
  background-color: #f1f1f1;transition: all 0.1s linear;	
}  

ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;transition: all 0.1s linear;	
}

ul li:hover a:hover {
  background-color: #555;
  color: #fff;transition: all 0.1s linear;	
}
ul li .fa{
  font-size:inherit;
  width: 100px; opacity:0.80;
  text-align: center;
  transition: all 0.1s ease;
  font-size: 36px; margin-right:8px; margin-bottom:6px;  transition: all 0.1s linear;	
} 
ul li:hover a:hover .fa {
  opacity:1;transition: all 0.1s linear;	
}
ul li { overflow: auto;  
  //border-bottom: 1px solid #000;  width: 100%;  background-color: #f1f1f1;transition: all 0.1s linear;
}
ul li:hover, ul li:last-child {
   //border-bottom: 0px solid #000;border:none;
}


ul li.vf:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/play(2).png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.vid:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/movie.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.fl:hover a:before {  transition: all 0.1s linear;
    content: "  >>  "; position:relative;  padding:2px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.doc:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/documents.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.musi:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/headphone.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.pic:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/picture.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.tx:hover a:before {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/text-box.png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;   
}
ul li.bt:hover a:after {    transition: all 0.1s linear;
    content: "  ";  padding:3px;  background: url('img/play(3).png'); background-repeat: no-repeat;   position:absolute; width:18px;height:18px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;  right:6px; 
}
ul li:hover a.tip:hover span:before {  transition: all 0.1s linear;
    content: "  " attr(data-tip) "  "; position:relative;  padding:2px;
  margin-right:4px;margin-left:4px;margin-top:4px; margin-bottom:4px; color:#fff;     
}


#emb-fs div { width:100%; }        #emb-fs .pricing-table { width:50%; }         

   

   input.mdfs_my_val_Input{  /*background: url("");*/  background-position: 10px 12px;  background-repeat: no-repeat;  width: 264px;  font-size: 16px;  padding: 12px 20px 12px 20px;  border: 1px solid #ddd;  margin-bottom: 12px; margin-right:5px; transition: all 0.1s linear;}  input.mdfs_my_val_Input:focus{  border-radius:4px;  width: 72%;  transition: all 0.1s linear;}    





 .d8ssbutton {position: relative;  background-color: #4CAF50;  border: none;  /*font-size: 28px;*/    color: #FFFFFF;  padding: 20px;  width: 200px;  text-align: center;  transition-duration: 0.4s;  text-decoration: none;  overflow: hidden;  cursor: pointer;margin-right:6px;}.d8ssbutton:after {  content: "";  background: #f1f1f1;  display: block;  position: absolute;  padding-top: 300%;  padding-left: 350%;  margin-left: -20px !important;  margin-top: -120%;  opacity: 0;  transition: all 0.8s;}.d8ssbutton:active:after {  padding: 0; margin: 0;  opacity: 1;  transition: 0s;}   
	 
	 
	 
.tooxltips {
  position: relative;
}
.tooxltips:before,
.tooxltips:after {
  display: block;   
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooxltips:after { 
border-right: 6px solid transparent;
 border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 20px;
    left: 20px;
  width: 0;
}
.tooxltips:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 26px;
  white-space: nowrap;
}


.tooxltips.fade:after,
.tooxltips.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooxltips.fade:hover:after,
.tooxltips.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}


.tooxltips.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooxltips.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooxltips.expand:hover:before,
.tooxltips.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooxltips.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}


.tooxltips.swing:before,
.tooxltips.swing:after {
  transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
  transform-origin: 0 0;
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooxltips.swing:after {
  transform: translate3d(0,60px,0);
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooxltips.swing:hover:before,
.tooxltips.swing:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}


.tooxltips:after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: 5px;
  bottom: -16px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #000 transparent;
  transition: all .1s ease;
}
.tooxltips:hover:after,
.tooxltips:hover:before {
  opacity: 1; transition: all .1s ease;
}


@media screen and (min-width: 480px) {   
  
  }
  @media screen and (min-width: 767px) {   

  }
  @media screen and (min-width: 959px) {  
    
  }




*[data-title]{
				position:		relative;
			}
			
			*[data-title]::before{
				display:		none;
				position:		absolute;
				content:		'';
				width:			0px;
				height:			0px;
			}
			
			*[data-title]::after{
				display:		none;
				position:		absolute;
				content:		attr(data-title);
				padding:		0px8px;
				background:		rgba(0,0,0,0.8);
				border-radius:	5px;
				color:			#fff;
				font-size:		10px;
				line-height:	24px;
				white-space:	nowrap;
				letter-spacing:	0.1em;
				text-rendering:	optimizeLegibility;
			}
			
			*[data-title]:hover::before,*[data-title]:hover::after{
				display:		block;
			}
			
			*[data-title-direction="right"]::before{
				top:			50%;
				margin-top:		-5px;
				left:			calc(100%+5px);
				border:			5pxsolidtransparent;
				border-right:	solid5pxrgba(0,0,0,0.8);
				border-left:	none;
			}
			
			*[data-title-direction="right"]::after{
				top:			50%;
				left:			calc(100%+10px);
				margin-top:		-12px;
			}






